<div class="heading-div">
  <mat-divider></mat-divider>
  <p id="header">PRODUCTS</p>
  <mat-divider></mat-divider>
</div>

<div class="drop-downs">
  <span class="route-container">
  <mat-form-field>
    <mat-label>Routes</mat-label>
    <mat-select (selectionChange)="onSelect($event.value)">     
        <mat-option value="dynamic">Dynamic-component</mat-option>
        <mat-option value="products">Products-component</mat-option>
        <mat-option value="googlemap">Google-component</mat-option>
        <mat-option value="create-product">CreateProduct-component</mat-option>
        <mat-option value="dynamic-rr">Dynamic component RR</mat-option>
    </mat-select>
  </mat-form-field>
  </span>

  <span class="language-container">
    <mat-form-field>
      <mat-label>Language</mat-label>
      <mat-select (selectionChange)="onLanguageChange($event.value)">
        <mat-option value="en">English</mat-option>
        <mat-option value="nl">Dutch</mat-option>
      </mat-select>
    </mat-form-field>
  </span>
</div>
<br>
<div *ngFor="let product of products">
  <mat-card class="product-card">
    <mat-card-header class="title">
      <mat-card-title [style.color]="product.attributes.taskcomponent[0].titleTextColor">
        <p id="product-title">{{ product.attributes.taskcomponent[0].title }}</p>
      </mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <div class="content-wrapper">
        <div [ngClass]="{
          'left-image': product.attributes.taskcomponent[0].ImageComponent.position === 'leftImage',
          'right-image': product.attributes.taskcomponent[0].ImageComponent.position === 'rightImage'
        }" class="images">
          <img *ngIf="product.attributes.taskcomponent[0].ImageComponent.image?.data?.attributes?.url" 
               mat-card-image 
               [src]="getImageUrl(product.attributes.taskcomponent[0].ImageComponent.image.data.attributes.url)" 
               alt="{{ product.attributes.taskcomponent[0].title }}">
        </div>
        <markdown class="description">
          {{product.attributes.taskcomponent[0].description}}
        </markdown>
        
      </div>
    </mat-card-content>

    <mat-card-actions class="actions">
      <a mat-button [href]="product.attributes.taskcomponent[0].buttonRedirectUrl" [style.background-color]="product.attributes.taskcomponent[0].buttonColor" class="button">
        {{ product.attributes.taskcomponent[0].buttonLabel }}
      </a>
    </mat-card-actions>
  </mat-card>
</div>
