<div class="heading-div">
  <mat-divider></mat-divider>
  <p id="header">PRODUCTS</p>
  <mat-divider></mat-divider>
</div>

<div class="drop-downs">
  <span class="route-container">
  <mat-form-field>
    <mat-label>Routes</mat-label>
    <mat-select (selectionChange)="onSelect($event.value)">
      @for (route of routes; track routes) {
        <mat-option [value]="route.value">{{route.viewValue}}</mat-option>
      }
    </mat-select>
  </mat-form-field>
  </span>

  <span class="language-container">
    <mat-form-field>
      <mat-label>Language</mat-label>
      <mat-select (selectionChange)="onLanguageChange($event.value)">
        <mat-option value="en">English</mat-option>
        <mat-option value="nl">Dutch</mat-option>
      </mat-select>
    </mat-form-field>
  </span>
</div>
<br>
<div *ngFor="let product of products">
  <mat-card class="product-card">
    <mat-card-header class="title">
      <mat-card-title [style.color]="product.attributes.taskcomponent[0].titleTextColor">
        <p id="product-title">{{ product.attributes.taskcomponent[0].title }}</p>
      </mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <div class="content-wrapper">
        <div [ngClass]="{
          'left-image': product.attributes.taskcomponent[0].ImageComponent.position === 'leftImage',
          'right-image': product.attributes.taskcomponent[0].ImageComponent.position === 'rightImage'
        }" class="images">
          <img *ngIf="product.attributes.taskcomponent[0].ImageComponent.image?.data?.attributes?.url" 
               mat-card-image 
               [src]="getImageUrl(product.attributes.taskcomponent[0].ImageComponent.image.data.attributes.url)" 
               alt="{{ product.attributes.taskcomponent[0].title }}">
        </div>
        <markdown class="description">
          {{product.attributes.taskcomponent[0].description}}
        </markdown>
        
      </div>
    </mat-card-content>

    <mat-card-actions class="actions">
      <a mat-button [href]="product.attributes.taskcomponent[0].buttonRedirectUrl" [style.background-color]="product.attributes.taskcomponent[0].buttonColor" class="button">
        {{ product.attributes.taskcomponent[0].buttonLabel }}
      </a>
    </mat-card-actions>
  </mat-card>
</div>







<!-- <div class="heading-div">
  <mat-divider></mat-divider>
  <p id="header">PRODUCTS</p>
  <mat-divider></mat-divider>
</div>
<br>
<div *ngFor="let product of products">
  <mat-card class="product-card">
    <mat-card-header class="title">
      <mat-card-title [style.color]="product.attributes.taskcomponent[0].titleTextColor" >
        <p id="product-title">{{ product.attributes.taskcomponent[0].title }}</p>
      </mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <div class="content-wrapper">
        <div class="images">
          <img *ngIf="product.attributes.taskcomponent[0].leftImage?.data?.attributes?.url" 
               mat-card-image 
               [src]="getImageUrl(product.attributes.taskcomponent[0].leftImage.data.attributes.url)" 
               alt="{{ product.attributes.taskcomponent[0].title }}">
        </div>
        <div [ngClass]="{
          'full-width': !product.attributes.taskcomponent[0].leftImage?.data?.attributes?.url && !product.attributes.taskcomponent[0].rightImage?.data?.attributes?.url,
          'left': !product.attributes.taskcomponent[0].leftImage?.data?.attributes?.url && product.attributes.taskcomponent[0].rightImage?.data?.attributes?.url,
          'right': product.attributes.taskcomponent[0].leftImage?.data?.attributes?.url && !product.attributes.taskcomponent[0].rightImage?.data?.attributes?.url
        }" class="description">
        </div>
        <p [innerHTML]="sanitizeHtml(product.attributes.taskcomponent[0].description)"></p>
        <div class="images">
          <img *ngIf="product.attributes.taskcomponent[0].rightImage?.data?.attributes?.url" 
               mat-card-image 
               [src]="getImageUrl(product.attributes.taskcomponent[0].rightImage.data.attributes.url)" 
               alt="{{ product.attributes.taskcomponent[0].title }}">
        </div>
      </div>
    </mat-card-content>

    <mat-card-actions class="actions">
      <a mat-button [href]="product.attributes.taskcomponent[0].buttonRedirectUrl" [style.background-color]="product.attributes.taskcomponent[0].buttonColor" class="button">
        {{ product.attributes.taskcomponent[0].buttonLabel }}
      </a>
    </mat-card-actions>
  </mat-card>
</div> -->


<!-- <div class="heading-div">
  <mat-divider></mat-divider>
  <p id="header">PRODUCTS</p>
  <mat-divider></mat-divider>
</div>
<br>
<div *ngFor="let product of products">
  <mat-card class="product-card">
    <mat-card-header class="title">
      <mat-card-title [style.color]="product.attributes.taskcomponent[0].titleTextColor" >
        <p id="product-title">{{ product.attributes.taskcomponent[0].title }}</p>
      </mat-card-title>
    </mat-card-header>


    <mat-card-content>
      <div class="images">
        <img mat-card-image [src]="getImageUrl(product.attributes.taskcomponent[0].leftImage.data.attributes.url)" alt="{{ product.attributes.taskcomponent[0].title }} ">
        <img mat-card-image [src]="getImageUrl(product.attributes.taskcomponent[0].rightImage.data.attributes.url)" alt="{{ product.attributes.taskcomponent[0].title }} ">
      </div>
      <br>
      <div class="description">
      <p [innerHTML]="sanitizeHtml(product.attributes.taskcomponent[0].description)"></p>
      </div>
    </mat-card-content>

    <mat-card-actions class="actions">
      <a mat-button [href]="product.attributes.taskcomponent[0].buttonRedirectUrl" [style.background-color]="product.attributes.taskcomponent[0].buttonColor" class="button">
        {{ product.attributes.taskcomponent[0].buttonLabel }}
      </a>
    </mat-card-actions>
  </mat-card>
</div> -->








<!-- <div>
  <div *ngFor="let product of products">
    <h2 [style.color]="product.attributes.taskcomponent[0].titleTextColor">{{ product.attributes.taskcomponent[0].title }}</h2>    
    
    <div class="images">
      <img [src]="getImageUrl(product.attributes.taskcomponent[0].leftImage.data.attributes.url)" class="rightimage">
      <img [src]="getImageUrl(product.attributes.taskcomponent[0].rightImage.data.attributes.url)" class="rightimage">
    </div>
    
    <p>{{ product.attributes.taskcomponent[0].description }}</p>
    <a [href]="product.attributes.taskcomponent[0].buttonRedirectUrl" [style.background-color]="product.attributes.taskcomponent[0].buttonColor">{{ product.attributes.taskcomponent[0].buttonLabel }}</a>
  </div>
</div>
   -->










<!-- <img src="{{product.attributes.taskcomponent[0].id}}"> -->

<!-- <div>
  <img [src]="product.attributes.taskcomponent[0].leftImage.data.attributes.url" alt="{{ product.attributes.taskcomponent[0].title }} - Left Image">
  <img [src]="product.attributes.taskcomponent[0].rightImage.data.attributes.url" alt="{{ product.attributes.taskcomponent[0].title }} - Right Image">
</div> -->


















<!-- <div class="main-header">
    <h2>Product List </h2>
    <span><button mat-raised-button color="secondary" (click)="createProduct()" class="create-button">Create New
        Product</button> </span>
</div> -->

<!-- <div class="product-list">   
    <mat-table [dataSource]="products" class="mat-elevation-z8">
    <div>
    <mat-header-row *matHeaderRowDef="displayedColumns" class="product-col"></mat-header-row>
    </div>
      <ng-container matColumnDef="id">
        <mat-header-cell *matHeaderCellDef> Id </mat-header-cell>
      <mat-cell *matCellDef="let product"> {{product.id}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="image">
        <mat-header-cell *matHeaderCellDef> Title </mat-header-cell>
      <mat-cell *matCellDef="let product"> {{product.image}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef> Title </mat-header-cell>
      <mat-cell *matCellDef="let product"> {{product.name}} </mat-cell>
      </ng-container>
      
      <ng-container matColumnDef="description">
          <mat-header-cell *matHeaderCellDef> Description </mat-header-cell>
          <mat-cell *matCellDef="let product" style="overflow-y:auto; max-height: 170px;"> {{product.description}} </mat-cell>
        </ng-container>
        

        <ng-container matColumnDef="price">
        <mat-header-cell *matHeaderCellDef> Price </mat-header-cell>
        <mat-cell *matCellDef="let product"> {{product.price}} </mat-cell>
        </ng-container>
      <ng-container matColumnDef="category">
        <mat-header-cell *matHeaderCellDef> Category </mat-header-cell>
        <mat-cell *matCellDef="let product"> {{product.category}} </mat-cell>
      </ng-container>

      
      <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef> Actions </mat-header-cell>
        <mat-cell *matCellDef="let product">
          <button mat-icon-button aria-label="edit" (click)="EditProduct(product.id)">
            <mat-icon>edit</mat-icon>
          </button>
  
          <button mat-icon-button aria-label="Delete" (click)="DeleteProduct(product.id)">
            <mat-icon>delete</mat-icon>
          </button>
  
        </mat-cell>
      </ng-container>
  
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
  
  </div> 

  <!-- <div [innerHTML]="sanitizedRichText"></div> -->